* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratlight';
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
    
}
/*-----section delivery-------*/
.delivery {
    background: #212121;
    color: #fff;
}
.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}
.delivery h2 {
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span {
    font-weight: normal;
}
.delivery p {
    font-size: 21px;
}

/*-------man-woman-------*/

.man-woman .container {
    display: flex;
    flex-direction: row;
}
.man, .woman {
    width: 50%;
    padding-top: 60px ;
    padding-bottom: 58px;
}

.man-woman h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.man-woman h2 span {
    font-weight: normal;
}

.man-woman a {
    display: flex;
    justify-content:  center;
    align-items: center;
    background-color: #d7b399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}

.man-woman a:hover, .man-woman a:focus {
    background-color: #c78d63;
}

.man {
    background: url(../img/muzhik.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.woman {
    padding-left: 35px;
    background: url(../img/baobab.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

.man-woman {
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}