* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    min-height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'montserratlight';
}
main {
    flex-grow: 1;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}
/*-----section delivery-------*/
.delivery {
    background: #212121;
    color: #fff;
}
.delivery .container {
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69pxs;
}
.delivery h2 {
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span {
    font-weight: normal;
}
.delivery p {
    font-size: 21px;
}