*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    min-height: 100%;
}
body{
    font-family: 'montserratlight';
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}
/*----------секция доставки-----------*/
.delivery{
    background: #212121;
    color: #ffff;
}
.delivery .container{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 69px;
}
.delivery h2{
    font-size: 30px;
    margin-bottom: 13px;
}
.delivery h2 span{
    font-weight: normal;
}
.delivery p{
    font-size: 21px;
}
/*--------секция м и ж ---------*/
.man-women .container{
    display: flex;
    flex-direction: row;
}
.man,
.women{
    width: 50%;
    padding-top: 60px;
    padding-bottom: 58px;
}
.man-women h2{
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.man-women h2 span{
    font-weight: normal;
}
.man-women a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D7B399;
    width: 80px;
    height: 30px;
    margin-top: 40px;
}
.man-women a:hover,
.man-women a:focus{
    background-color: #d87936;
}
.man{
    background: url(../img/muzhik.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.women{
    padding-left: 35px;
    background: url(../img/baobab.png) no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.man-women{
    background: linear-gradient(90deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}
/*--------header-----------*/
.navbar-toggler {
    display: none;
    border: none;
}

.header{
    /* min-height: 800px; */
    background-color: #F9F6F1;
}
.header-menu{
    min-height: 90px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #F9F6F1;
}

.section__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;          
  justify-content: space-between; 
  align-items: center;
  min-height: 90px;
}


header ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 35px;
  align-items: center;
}


.header_logo{

    padding-top: 50px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.mainmenu__item {
  margin-right: 10px; 

}

.menu__link {
  text-decoration: none;
  font-size: 14px;         
  font-weight: 500;
  color: #333333;         
}

.menu__link:hover {
  color: #ff6600;          
}

/*--------section new---------*/

.new .container {
    text-align: center;
    padding-top: 193px;
    padding-bottom: 103px;
}

.new__title {
    font-size: 36px;
    text-transform: uppercase;

}

.new__btn {
    height: 55px;
    width: 220px;
    background:#D7B399 ;
    color: #ffff;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
}

.new__btn:hover , .new__btn:focus {
    background-color:#69594d ;
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card {
    border: 1px solid #D7B399;
    padding: 22px 25px 25px;
    position: relative;
}

.card-title {
    font-size: 14px;
    font-weight: 600px;
    margin-top: 25px;
    margin-bottom: 15px;
    /* margin-left: 71px;
    margin-right: 71px; */
}

.card-price {
    font-size: 18px;
    color: #D7B399;
    font-weight: bold;
}

/* .card:nth-child(2) {
    position: fixed;
    left:300px ;
    top: 200px;
} */

.bi-heart-fill {
    fill:#D7B399 ;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    cursor: pointer;
}
.bi-heart-fill:hover,
.bi-heart-fill:focus {
    fill:#69594d ;
}

/* .pict {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    
} */
/*------banner--------*/
.slider-item {
    display: flex;
    padding-top: 166px;
    justify-content: space-between;
    min-height: 564px;
    background:url('../img/shoes.png') no-repeat right center;
}

.slider-text {
    font-size: 30px;
    padding-bottom: 36px;
}

.slider-big-text {
    font-family: "montserrat" , "Arial", sans-serif;
    font-weight:bold;
    font-size: 55px;
    text-transform: uppercase;
    padding-bottom: 54px;
}

.button {
    display: block;
    width: 240px;
    padding: 22px 0;
    text-align: center;
    background-color: #d7b399;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
}

.slider-item-price {
    font-family:"montserratbold" , "Arial", sans-serif; 
    font-weight: bold;
    text-transform: uppercase;
}

.slider-item-old {
    font-size: 24px;
    text-decoration-line: line-through;
    position: absolute;
    top: 140px;
    right: 10px;
}

.slider-iten-new {
    font-size: 42px;
    color: #d84033;
    padding-top: 14px;
}

.banner-btn {
    width: 240px;
    height: 55px;
    background-color: #d7b399;
    color: #fff;
    font-size: 16px;
    border: none;
    font-family: "montserratlight";
    font-weight: 200px;
    
}

.banner-btn:hover, 
.banner-btn:focus {
    background-color: #bb835c;
}

.slider-button {
    position: absolute;
    top: 50%;
}

.slider-button-prev {
    left: -100px;
    border: none;
    background-color: #F9F6F1;
}

.slider-button-next {
    right: -100px;
    border: none;
    background-color: #F9F6F1;
}

.dress_wrapper {
    flex-wrap: wrap;
    display: flex;
}

.dress-item {
    width: 25%;
    height: 236px;
    text-align: right;
    position: relative;
    
    
}

.dress-item img {
    height:100% ;
    
}
.dress-item-grey{
    background-color: #f4f4f4;
}

.dress-item-cream {
    background-color: #F9F6F1;
}

.platie {
    position: absolute;
    bottom: 30px;
    left: 30px;
    z-index: 10;
    font-size: 21px;
    text-transform: uppercase;
}

/*----media queries----*/

@media(max-width:1200px) {
    .catalog {
        flex-wrap: wrap;
    }
}



@media(max-width:768px) {
    .man-women .container{
    display: flex;
    flex-direction: column;
}
.man,
.women{
    width: 100%;
    
}
.man-women{
    background: linear-gradient(180deg, #F9F6F1 0%, #F9F6F1 50%, #F9E0E0 50%, #F9E0E0 100%);
}
.man {
    padding-left: 30px;
}

.slider-button{
    display: none;
}
.header{
    min-height: 90px;
}
.slider-item{
    
}
.slider-wrapper {
    display: none;
}

.logo {
    order: -1;
    width: 70%;
}
.basket{
    order: -1;
    text-align: right;
}

.dress-item{
    width: 33%;
}
}

@media(max-width:576px) {
    .card {
        width: 90%;
    }
    /* .dress-item {
        width: 40%;
    } */
}

@media(max-width:1100px) {
    .container {
        width: auto;
        padding: 0 30px;
    }
    .dress-item {
        width: 50%;
    }
}

@media(max-width:1326px) {
    .slider-button-prev{
        left: 0;
    }
    .slider-button-next{
        right: 0;
    }
}

@media(max-width:992px) {
    .menu__wrapper {
        flex-wrap: wrap;
    }
    .logo {
        order: -1;
        width: 100%;
    }

}

@media(max-width:600px) {
    .basket,
    .menu 
    {
        display: none;
        width: 100%;
    }
    .navbar-toggler {
        display: block;
    }
    .mainmenu__list {
        flex-direction: column;
        /* padding-bottom: 1px; */
        gap: 20px;
    }
}
/* @media(max-width:765px) {
    .dress-item {
        width: 50%;
    }
} */
 @media(max-width:600px) {
    .dress-item {
        width: 100%;
    }
 }

.show {
    display: block;
    padding-bottom: 20px;
}

